@font-face {
    font-family: "Unageo";
    src: url(Unageo-Bold.ttf);
}
:root {
    --text-color: #e3e3e3;
    --left-color: #0C3357;
    --right-color: #057BA7;
    --background-color: #2C2D2E;
}
body {
    background-color: #373839;
    color: #e3e3e3;
    font-family: "Unageo";
    font-weight: 600;
}
.Background {
    position: absolute;
    background-color: var(--background-color);
    width: 476px;
    height: 74px;
    border-radius: 6px;
}
.ProgressBar {
    position: absolute;
    width: 347px;
    height: 40px;
    bottom: 7px;
    left: 8px;
    border-radius: 2px;
    overflow: hidden;
}
.ProgressBarBackground {
    position: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: var(--background-color);
    box-shadow: inset 0px 0px 4px 1px #00000050;
}
.ProgressBarProgress {
    position: absolute;
    background-color: #000000;
    transform: translateX(-50%);
    background: linear-gradient(105deg, var(--left-color) 15%, var(--right-color) 50.7%, #00000000 50.8%);
    width: 200%;
    height: 100%;
    transition: transform 2s;
}
.CurrentRank {
    position: absolute;
    bottom: 1px;
    left: 38px;
    width: 150px;
    text-align: start;
    color: #00000030;
}
img {
    position: absolute;
    background-color: #00000000;
    border-radius: 2px;
    bottom: 3px;
    left: 2px;
    width: 34px;
    height: 34px;
    filter: drop-shadow(0.5px 0px 1px #00000090)
}
.EloChanges {
    position: absolute;
    width: 105px;
    height: 40px;
    bottom: 7px;
    right: 8px;
    border-radius: 2px;
    font-size: 36px;
    text-align: center;
    overflow:hidden;
}
.EloChangesBackground {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: var(--background-color);
    box-shadow: inset 0px 0px 4px 1px #00000050;
}
.Plus {
    position: absolute;
    width: 22px;
    background-color: #00000000;
    bottom: -3px;
    left: -1px;
    color: #00000030;
} 
.Minus {
    position: absolute;
    width: 22px;
    background-color: #00000000;
    bottom: -3px;
    left: 16px;
    color: #00000030;
}
.EloChangesText {
    position: absolute;
    background-color: #00000000;
    width: 70px;
    bottom: -3px;
    right: 1px;
    color: #00000030;
}
.CurrentEloText {
    position: absolute;
    width: 134px;
    background-color: #00000000;
    left: 8px;
    bottom: 44px;
    font-size: 24px;
    color: #00000030;
}
.Draws {
    position: absolute;
    background-color: #00000000;
    width: 77px;
    font-size: 14px;
    text-align: end;
    bottom: 46.5px;
    right: 123px;
    color: #00000030;
}
.Wins {
    position: absolute;
    background-color: #00000000;
    font-size: 20px;
    text-align: end;
    right: 123px;
    bottom: 23px;
    color: #00000030;
}
.Losses {
    position: absolute;
    background-color: #00000000;
    font-size: 20px;
    text-align: end;
    right: 123px;
    bottom: 5px;
    color: #00000030;
}
i {
    font-style: normal;
    color: #00000030;
}
.Spinner {
    position: absolute;
    background-color: #00000030;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    bottom: 50px;
    right: 8px;
    animation-name: spinner;
    animation-duration: 64.5s;
    animation-delay: 4.5s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.Element1 {
    position: absolute;
    background-color: var(--text-color);
    width: 2px;
    height: 6px;
    left: 50%;
    top: 2px;
    transform: translate(-50%, 0);
    border-radius: 2px;
}
.Element2 {
    position: absolute;
    background-color: var(--text-color);
    width: 2px;
    height: 6px;
    left: 50%;
    bottom: 2px;
    transform: translate(-50%, 0);
    border-radius: 2px;
}

@keyframes spinner {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 3600deg;
    }
}