:root {
    --text-color: #e3e3e3;
    --left-color: #0C3357;
    --right-color: #057BA7;
    --background-color: #2C2D2E;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #2c2d2e;
    overflow: hidden;
    flex-wrap: wrap;

    --background_color: #2c2d2eff;
}
.main-bg {
    scale: 175%;
    margin: 0 auto;
    display: grid;
    justify-self: center;
    align-self: center;
    background: url("background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #2c2d2ecc;
    background-blend-mode: multiply;
    width: max-content;
    grid-auto-rows: 45px;
    grid-auto-columns: 120px;
    grid-template-areas: 
    "nickname nickname widget widget widget widget"
    "tag tag widget widget widget widget"
    "api_key api_key bg_color txt_color left_color right_color"
    "region platform bg_color txt_color left_color right_color"
    "link_box link_box link_box link_box link_box link_box";
    gap: 10px;
    border-radius: 3px;
    padding: 10px; 
}

@media (min-width: 1250px) and (max-width: 1500px) {
        .main-bg {
            scale: 150%;
        }
    }

@media (min-width: 1100px) and (max-width: 1249px) {
        .main-bg {
            scale: 130%;
        }
    }

@media (min-width: 1000px) and (max-width: 1099px) {
        .main-bg {
            scale: 120%;
        }
    }

@media (min-width: 930px) and (max-width: 999px) {
        .main-bg {
            scale: 110%;
        }
    }

@media (min-width: 840px) and (max-width: 929px) {
        .main-bg {
            scale: 100%;
        }
    }

    /*смещение с этого момента влево*/
@media (min-width: 800px) and (max-width: 839px) { 
        .main-bg {
            scale: 100%;
        }
    }

    /*сильное смещение влево*/
@media (min-width: 630px) and (max-width: 799px) {
        .main-bg {
            scale: 80%;
        }
    }

@media (min-width: 375px) and (max-width: 629px) {
        .main-bg {
            scale: 60%;
        }
    }
.box {
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 12px;
    word-break: break-all;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    padding-left: 3px;
    padding-right: 3px;
    backdrop-filter: blur(5px);
    transition: all 200ms;
    z-index: 0;
    position: relative;
}
.box#widget {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box#region {
    overflow: visible;
}
.text-box, text-box:focus {
    width: 100%;
    height: 24px;
    padding: 0;
    border: 0;
    background-color: #00000000;
    color: #e3e3e3;
    border: none;
    outline: none;
    box-shadow: inset 0 0 3px #000;
    font-family: "Unageo";
    padding-left: 7px;
}
.box#link_box {
    position: relative;
    line-height: 14px;
    z-index: 0;
}
input[type="range"] {
    width: 100%;
    appearance: none;
    margin: 5px 0px 5px 0px;
    height: 3px;
    border-radius: 3px;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    transition: all 200ms;
}
input[type="range"]::-webkit-slider-thumb:hover {
    scale: 110%;
    transition: all 200ms;
}
.text-box#bg_hex, .text-box#txt_hex, .text-box#left_hex, .text-box#right_hex {
    text-align: center;
    width: 75%;
}
.hex_preview {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 4px;
    bottom: 7.5px;
    box-shadow: inset 0 0 3px #000;
}
.hex_preview#bg {
    background-color: var(--background-color);
}
.hex_preview#txt {
    background-color: var(--text-color);
}
.hex_preview#left {
    background-color: var(--left-color);
}
.hex_preview#right {
    background-color: var(--right-color);
}
.text-box#region_input {
    text-align: center;
}
.text-box#bg_hex, .text-box#txt_hex, .text-box#left_hex, .text-box#right_hex, .text-box#region_input {
    padding: 0;
}
.region_menu:hover .dropdown-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    background: url("background.png");
    background-color: #2c2d2ecc;
    background-size: 1000%;
    background-position: 50%;
    background-blend-mode: multiply;
    bottom: 4px;
    justify-items: center;
    border-radius: 3px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
}
.region_button {
    width: 112.86px;
    height: 24px;
    font-family: "Unageo";
    background-color: transparent;
    color: #e3e3e3ff;
    box-shadow: none;
    border: none;
    transition: all 200ms;
}
.region_button:hover {
    background-color: #e3e3e330;
    font-size: 17px;
    transition: all 200ms;
}
.platform-switch {
    display: none;
}
.switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 24px;
    width: 100%;
    background-color: transparent;
    position: relative;
    text-align: center;
    align-content: center;
    font-family: "Unageo";
    justify-content: center;
    box-shadow: inset 0 0 3px #000;
}
.platform-switch:checked + .switch-label {
    background-color: transparent;
} 
.ProgressBarProgress {
    transform: translate(-15%, 0);
}
.CurrentRank, .CurrentEloText, .Wins, .Losses, .EloChangesText {
    color: var(--text-color);
}
.Minus {
    background-color: var(--text-color);
}
.blurry {
    filter: blur(3px);
}